body{
    align-content: center;
    background-image: url('candle.png');
    background-repeat: no-repeat;
}
label{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 400px;
    height: 100px;
}